<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Zoek">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        </div>
    </div>
</div>
<div class="row">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="persoon in personen | filter:search">
            <td>{{persoon.voornaam}} {{persoon.achternaam}}</td>
            <td>
                <button data-placement="top" data-original-title="Activeer" ng-click="activateNews(item)" class="btn btn-info btn-sm" ng-class="getSuccessClass(item.active)"><i class="glyphicon glyphicon-plus-sign"></i></button>
                <button data-placement="top" data-original-title="Publiceer" ng-click="publishNews(item)" class="btn btn-success btn-sm" ng-class="getSuccessClass(item.published)"><i class="glyphicon glyphicon-glass"></i></button>
                <button data-placement="top" data-original-title="Aanpassen" ng-click="editNews(item)" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-edit"></i></button>
                <button data-placement="top" data-original-title="Wissen" ng-click="deleteNews(item)" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary pull-right" href="/persoon-toevoegen"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Toevoegen</button>
</div>