<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Persoon</h3>
    </div>
    <div class="panel-body">
        <form name="persoonForm" novalidate ng-submit="save()" class="form-inline">
            <input type="text" ng-model="persoon.voornaam" placeholder="Voornaam" required/>
            <input type="text" ng-model="persoon.achternaam" placeholder="Achternaam" required/>
            <input class="btn btn-primary btn-sm" type="submit" ng-disabled="persoonForm.$invalid" value="Opslaan"/>
        </form>
    </div>
</div>


<div class="panel panel-default" ng-show="persoon.id !== undefined">
    <div class="panel-heading">
        <h3 class="panel-title">Skills</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <span ng-repeat="skill in persoon.skills | filter:search">
                    <span class="btn btn-primary">{{skill.naam}}  <button data-placement="top" data-original-title="Wissen" ng-click="deleteSkill(skill)" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></button></span>
                </span>
            </div>
        </div>
        <hr>
        <form name="addSkillsForm" novalidate ng-submit="addSkill()" class="form-inline">
            <div class="form-group" ng-class="{'has-error': addSkillsForm.$invalid && !addSkillsForm.$pristine}" >
                <input required ng-model="selectedSkill" not-in not-in-value="naam" not-in-items="{{persoon.skills}}"  typeahead="skill as skill.naam for skill in skills | filter:$viewValue | limitTo:8" class="form-control" placeholder="Skill" typeahead-editable="false"/>
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-sm" type="submit" ng-disabled="addSkillsForm.$invalid" value="Skill toevoegen"/>
            </div>
        </form>
    </div>
</div>


