<div class="row">
    <hr>
</div>

<div class="row">
    <div class="col-md-6">
        <form novalidate ng-submit="addSkill()" name="skillForm" class="form-inline">
            <div class="form-group" ng-class="{'has-error': skillForm.$invalid && !skillForm.$pristine}">
                <input type="text" class="form-control" name="naam" ng-model="skill.naam" contains contains-value="naam" contains-items="{{skills}}" placeholder="Naam" required="true" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-sm" type="submit" ng-disabled="skillForm.$invalid" value="Toevoegen"/>
            </div>
            <div class="error" ng-show="skillForm.naam.$error.contains">Deze waarde bestaat al</div>

        </form>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-4">
        <div class="input-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Zoek">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        </div>
    </div>
</div>

<div class="row">
    <hr>
</div>

<div class="row">
    <div class="col-md-6">
        <span ng-repeat="skill in skills | filter:search">
            <span class="btn btn-primary">{{skill.naam}}  <button data-placement="top" data-original-title="Wissen" ng-click="deleteSkill(skill)" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></button></span>
        </span>
    </div>
</div>


